# Task 3 - Database Setup, Insertion, Verification and fecthing

In [14]:
import sys
from pathlib import Path

# -------------------------------
# Auto-detect project root
# -------------------------------

current_dir = Path.cwd()

def find_src_folder(start_dir: Path):
    """
    Walks upward from the start directory until it finds `src`.
    Returns the src path if found, otherwise None.
    """
    for parent in [start_dir] + list(start_dir.parents):
        src_path = parent / "src"
        if src_path.exists() and src_path.is_dir():
            return src_path
    return None

src_path = find_src_folder(current_dir)

if src_path is None:
    raise FileNotFoundError("‚ùå Could not locate `src` folder. Ensure your project structure is correct.")

# Add src to Python path
if str(src_path.resolve()) not in sys.path:
    sys.path.append(str(src_path.resolve()))

print(f"‚úÖ src folder located at: {src_path.resolve()}")
print("   Added to PYTHONPATH successfully.")

# -------------------------------
# Also add task-3 for db_insert.py
# -------------------------------
task3_path = src_path / "task-3"
if task3_path.exists():
    if str(task3_path.resolve()) not in sys.path:
        sys.path.append(str(task3_path.resolve()))
        print(f"‚úÖ task-3 folder added: {task3_path.resolve()}")
else:
    print("‚ö†Ô∏è Warning: task-3 folder not found.")

‚úÖ src folder located at: C:\Users\hp\Desktop\AI projects\fintech-customer-analytics-ml\src
   Added to PYTHONPATH successfully.

In [24]:
from importlib import reload
import db_insert as db_runner

reload(db_runner)
db_runner.main()

‚úÖ Found utils at: C:\Users\hp\Desktop\AI projects\fintech-customer-analytics-ml\src\task-2
Loaded 1200 reviews.
‚úÖ Connected to PostgreSQL database: bank_reviews

--- 1. Creating Required Tables ---
‚ùå Error during schema setup (expected if tables exist): syntax error at or near "Check"
LINE 37: Check total number of reviews
         ^


--- 2. Inserting Banks ---

--- 3. Inserting Reviews ---
Attempting to insert/update 1200 reviews...
‚úÖ Insertion finished. Total reviews in DB: 1200

--- 4. Verifying Data Integrity ---
Total reviews in database: 1200

                     Bank Name      Average Rating  Total Reviews
0                  Dashen Bank  3.9600000000000000            400
1               Abyssinia Bank  3.3800000000000000            400
2  Commercial Bank of Ethiopia  4.1275000000000000            400

üîí Database connection closed.

# fecting date from the postgressql

In [30]:
# -----------------------------
# 1Ô∏è‚É£ Import and reload the module
# -----------------------------
from importlib import reload
import db_fecthing as db_runner  # or db_review_utils if you renamed it

reload(db_runner)

# -----------------------------
# 2Ô∏è‚É£ Fetch reviews from DB
# -----------------------------
df_reviews = db_runner.fetch_reviews(limit=500)  # Adjust limit if needed
df_reviews.head()

# -----------------------------
# 3Ô∏è‚É£ Compute KPIs and Sentiment Counts
# -----------------------------
db_runner.compute_review_kpis(df_reviews)

# -----------------------------
# 4Ô∏è‚É£ Compute Rating Counts per Bank
# -----------------------------
db_runner.rating_counts_per_bank(df_reviews)

‚úÖ Connected to PostgreSQL
‚úÖ Fetched 500 reviews from DB
üîí Database connection closed
‚úÖ Total Reviews: 500

‚úÖ Average Rating & Total Reviews per Bank:

c:\Users\hp\Desktop\AI projects\fintech-customer-analytics-ml\src\task-3\db_fecthing.py:62: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  """

                     bank_name  average_rating  total_reviews
1  Commercial Bank of Ethiopia            4.09            254
2                  Dashen Bank            3.98            177
0               Abyssinia Bank            3.25             69

‚úÖ Sentiment Counts per Bank:

                     bank_name sentiment_label  sentiment_count
2               Abyssinia Bank        positive               33
1               Abyssinia Bank         neutral               21
0               Abyssinia Bank        negative               15
5  Commercial Bank of Ethiopia        positive              149
4  Commercial Bank of Ethiopia         neutral               88
3  Commercial Bank of Ethiopia        negative               17
8                  Dashen Bank        positive              121
7                  Dashen Bank         neutral               41
6                  Dashen Bank        negative               15

‚úÖ Review Counts by Bank and Rating:

                      bank_name  rating  review_count
4                Abyssinia Bank       5            34
3                Abyssinia Bank       4             4
2                Abyssinia Bank       3             3
1                Abyssinia Bank       2             1
0                Abyssinia Bank       1            27
9   Commercial Bank of Ethiopia       5           168
8   Commercial Bank of Ethiopia       4            24
7   Commercial Bank of Ethiopia       3            16
6   Commercial Bank of Ethiopia       2             9
5   Commercial Bank of Ethiopia       1            37
14                  Dashen Bank       5           121
13                  Dashen Bank       4             8
12                  Dashen Bank       3             7
11                  Dashen Bank       2             5
10                  Dashen Bank       1            36